.blogNoticias {
  display: flex;
  gap: 20px;
  padding-left: 50px;
}

.newsSection {
  flex: 3;
}

.newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.orderSelect {
  padding: 5px;
  cursor: pointer;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  transition: opacity 0.3s ease-in-out;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}


.newsItem {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.newsImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

.newsContent {
  padding: 10px 0;
}

.newsMeta {
  font-size: 0.9rem;
  color: #888;
}

.newsTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.newsDescription {
  font-size: 1rem;
  color: #555;
}
